/* stylelint-disable selector-list-comma-newline-after */

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.firstPicture {
  background: url('../../../assets/images/background.jpg') no-repeat center;
  opacity: 0.9;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 3rem;
}

@media screen and (max-width: 901px) 
{
  .blog-header-logo
  {
    font-size: 2rem;
  }
}

@media screen and (max-width: 760px) 
{
  .blog-header-logo
  {
    font-size: 1.3rem;
  }
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
  max-height: 300px;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
}
.blog-post-title {
  margin-bottom: .30rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}
.blog-post:hover {
  background: rgba(85, 85, 85, 0.05);
}

.colorPost {
  color: black;
}

@media screen and (max-width: 901px) 
{
  .blogPost p
  {
    
  }
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.readingPost {
  width: 55%;
  margin: 20px auto; 
  text-align: justify;
  text-justify: inter-word;
  text-indent: 25px;
}

@media screen and (max-width: 901px) 
{
  .readingPost
  {
    width: 95%;
  }
}

@media screen and (max-width: 760px) 
{
  .readingPost
  {
    margin: 0;
  }
}

.previousAndNext {
  width: 75%;
  margin: auto;
  margin-top: 40px;
  justify-content: space-between;
}

@media screen and (max-width: 760px) 
{
  .previousAndNext 
  {
    font-size: 1rem;
  }
}

.formInscriptionEtIdentification {
  position: relative;
  border: 1px solid mediumturquoise;
  border-radius: 5px;
  padding: 5%;
  margin: 7% auto;
}

.forgotten_password {
  position: absolute;
  bottom: -6px;
  right: -6px;
}

.not_yet_subscribed {
  position: absolute;
  bottom: 1px;
  left: 6px;
}

.flex {
    display: flex;
}

#bodyIdentification {
    /*background: url('../../../assets/images/montagne_alaska.jpg') no-repeat center;
    background-size: cover;*/
}

.cold-blue {
  color : rgb(100,175,251);
}

a {
  text-decoration: none;
  color: rgb(100,175,251);
}

a:hover {
  text-decoration: none;
  color: rgb(100,175,251);
}

.comment {
  position: relative;
  background: rgba(85, 85, 85, 0.07);
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

#commentForm {
  margin: 10px;
  margin-top: 40px;
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.buttonReportOrDelete {
  position: absolute;
  bottom: 1px;
  right: 1px;
}

.buttonNoDelete {
  position: absolute;
  bottom: 1px;
  right: 125px;
}

.authorComment {
  font-weight: bold;
  font-size: 1.1em;
}

.center {
  text-align: center;
  align-items: center;
}

.alertReportedComments {
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  background: red;
}






























